
/* ==============================================================================================
  PAI Video Player
  CSS
================================================================================================= */

.pai-video-player
{

}

.pai-video-player-video
{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}