


.control-panel
{
    position: absolute;
    width:100%;
    height:60pt;
    left:0%;
    bottom: 0%;
    background-color: transparent;
}

.control-panel-item
{
    position: absolute;
    width:25%;
    height:100%;
    bottom: 0%;
    cursor:hand;
    background-color: transparent;
    height:90%;
}

.control-panel-item-text
{
    position: absolute;
    width:100%;
    height:40%;
    bottom: 0%;
    background-color: transparent;
    text-align: center;
    font-size: 12pt;
    color:white;
    cursor:hand;
}

.control-panel-item-icon
{
    position: absolute;
    width:50%;
    height:60%;
    bottom: 40%;
    left:25%;
    background-color: transparent;
    cursor:hand;

}

.control-panel-item-icon img
{

    display: block;
    margin: auto;
    width:24pt;
    height:24pt;
    background-color: transparent;
    cursor:hand;
}

#control-panel-item-1
{
    left:0;
}

#control-panel-item-2
{
    left:25%;
}

#control-panel-item-3
{
    left:50%;
}

#control-panel-item-4
{
    left:75%;
}